title: Seority 블로그
description:  블로그
baseurl: "" # 루트가 아니면 하위 경로 입력
url: "https://seority.github.io"

markdown: kramdown
kramdown:
  input: GFM

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "default"

plugins:
  - jekyll-paginate-v2

pagination:
  enabled: true
  per_page: 5
  permalink: '/page/:num/'
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2
    after: 2
